@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-bgColor box-border;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.bcColorFont {
    @apply text-bcColor font-fira-code font-normal;
    font-size: clamp(14px, 5vw, 16px);
}
/* Components */
.bigButton {
    @apply font-fira-code text-bcColor bg-transparent border border-bcColor 
    rounded text-xs transition duration-500 ease-in-out hover:bg-opacity-10 hover:bg-bcColor;
    /* border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 1.25rem 1.75rem;
    font-size: var(--fz-sm);
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    &:hover,
    &:focus,
    &:active {
        background-color: var(--green-tint);
        outline: none;
    }
    &:after {
        display: none !important;
    } */
}
